<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ .Param "description" }}">
  <meta name="keywords" content="">

  {{- block "page-title" . -}}
    <title>{{ .Title }} | RealMQ</title>
  {{- end -}}

  <link href="/{{ index .Site.Data.assets "css/theme.css" }}" rel="stylesheet">
  <link rel="icon" href="/{{ index .Site.Data.assets "img/favicon.png" }}">
</head>
<body>

{{ partial "navbar.html" (dict "logo" (index .Site.Data.assets "img/logo-inverted.svg") "isNavFixed" false "theme" "light") }}

{{- block "header" . -}}
  {{ partial "header.html" . }}
{{- end -}}

{{- block "main" . -}}
<main class="main-content">
  {{ .Content }}
</main>
{{- end -}}

{{- block "footer" . -}}
  {{ partial "footer.html" . }}
{{- end -}}

</body>
</html>
