<footer id="footer" class="footer py-7">
  <div class="container">
    <div class="row gap-y align-items-center">
      <div class="col-12">
        <p class="lead mb-0 text-center">
          Any questions? Don't hesitate to contact us via email at <a href="mailto:service@realmq.com">service@realmq.com</a>
        </p>
      </div>

      <div class="col-12">
        <hr class="my-0">
      </div>

      <div class="col-12 text-center">
        <p>
          <a href="/impressum">Impressum</a> -
          <a href="/datenschutz-hinweise">Datenschutz</a>
        </p>
        <small class="opacity-70">{{ .Site.Copyright }}</small>
      </div>
    </div>
  </div>
</footer>
