<footer id="footer" class="footer py-7">
  <div class="container">
    <div class="row gap-y align-items-center">
      <div class="col-md-6">
        <p class="lead mb-0 text-center text-md-left">Subscribe to our newsletter</p>
      </div>

      <div class="col-md-4 ml-auto">
        <form class="input-round justify-content-center justify-content-lg-end" action="" method="post" target="_blank">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-envelope"></i></span>
            </div>
            <input type="text" name="EMAIL" class="form-control" placeholder="Email Address">
            <span class="input-group-append">
              <button class="btn btn-info">Subscribe</button>
            </span>
          </div>
        </form>
      </div>


      <div class="col-12">
        <hr class="my-0">
      </div>

      <div class="col-12 text-center">
        <small class="opacity-70">{{ .Site.Copyright }}</small>
      </div>
    </div>
  </div>
</footer>
