{{- define "header" -}}
<!-- Header -->
<header id="home" class="header bg-consultancy">
  <div class="overlay opacity-90" style="background-image: linear-gradient(90deg, #fff 0%, transparent 100%);"></div>
  <div class="container">
    <div class="row align-items-center h-100">
      <div class="col-md">
        <h1 class="display-4 text-primary">
          Software Development & Consulting at your hand
        </h1>
        <p class="lead mt-5">
          Flexible capacity - single consultant or the whole team. We work independently or as part of your existing team.
        </p>
        <a class="btn btn-lg btn-round btn-primary mr-2 w-200 my-7" href="#contact-us">Get in touch</a>
        <a class="btn btn-lg btn-round btn-outline-primary w-200 my-7" href="#services">Services</a>
      </div>
    </div>
  </div>
</header><!-- /.header -->
{{- end -}}

{{- define "main" -}}
<!-- Main Content -->
<main class="main-content">

  <!--
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  | About us
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  !-->
  <section id="team" class="section">
    <div class="container">
      <header class="section-header">
        <h2 class="text-primary">About us</h2>
        <hr>
        <p class="lead">
          <span class="text-primary">RealMQ Consulting</span> are Alrik, Henning and Lars - 3 senior full-stack web developers.
          Coming from a classic e-commerce background we expanded our scope to general custom platform development.
          With over 30 years of combined professional IT experience we are a reliable partner for our customers.
          Based in Berlin and Schwerin we can work remotely or on-site.
        </p>
      </header>
    </div>
  </section>

  <!--
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  | Services
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  !-->
  <section id="services" class="section bg-gray">
    <div class="container">
      <header class="section-header">
        <h2 class="text-primary">Services</h2>
        <hr>
      </header>

      <div class="row">
        <div class="offset-md-1"></div>
        <div class="col-md-5">
          <h4 class="text-center">Development</h4>
          <ul>
            <li>Sustainably bootstrap your project</li>
            <li>Extend your existing product with new features</li>
            <li>Jump in when you need short-term man power</li>
            <li>Migrate legacy codebases to state-of-the-art architecture</li>
          </ul>
        </div>
        <div class="col-md-5">
          <h4 class="text-center">Consultancy</h4>
          <ul>
            <li>Figure out the tricky tech parts</li>
            <li>Design or review software architectures</li>
            <li>Support product management</li>
            <li>Consult and coach teams to (better) use agile processes</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!--
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  | Skillset
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  !-->
  <section id="skillset" class="section">
    <div class="container">
      <header class="section-header">
        <h2 class="text-primary">Tools & Technologies</h2>
        <hr>
        <p class="lead">
          For our projects we always choose from the most suitable, state of the art tools and
          technologies. Below you'll find a comprehensive and growing list of the tools that we
          used in the past.
        </p>
      </header>

      <div class="row py-3">
        <div class="col-md-3">
          <p class="lead-2 text-right">Frontend</p>
        </div>
        <div class="col-md-9">
          <span class="badge badge-primary">JavaScript</span>
          <span class="badge badge-primary">Vue.js</span>
          <span class="badge badge-primary">React</span>
          <span class="badge badge-primary">Angular</span>
          <span class="badge badge-primary">Redux</span>
          <span class="badge badge-primary">Dojo</span>
          <span class="badge badge-primary">jQuery</span>
          <span class="badge badge-primary">CSS / SASS / LESS</span>
          <span class="badge badge-primary">Bootstrap</span>
          <span class="badge badge-primary">Webpack</span>
          <span class="badge badge-primary">HTML 5</span>
        </div>
      </div>

      <div class="row py-3">
        <div class="col-md-3">
          <p class="lead-2 text-right">Backend</p>
        </div>
        <div class="col-md-9">
          <span class="badge badge-primary">Node.js</span>
          <span class="badge badge-secondary">Express</span>
          <span class="badge badge-secondary">Jest</span>
          <span class="badge badge-primary">PHP</span>
          <span class="badge badge-secondary">Zend Framework</span>
          <span class="badge badge-secondary">Symfony</span>
          <span class="badge badge-secondary">Yii 2</span>
          <span class="badge badge-secondary">Doctrine ORM</span>
          <span class="badge badge-secondary">PHPUnit</span>
          <span class="badge badge-primary">Erlang</span>
          <span class="badge badge-primary">MySQL / Maria DB</span>
          <span class="badge badge-primary">PostgreSQL</span>
          <span class="badge badge-primary">MongoDB</span>
          <span class="badge badge-primary">Redis</span>
          <span class="badge badge-primary">Elasticsearch</span>
          <span class="badge badge-primary">MQTT / AMQP</span>
          <span class="badge badge-primary">RabbitMQ</span>
          <span class="badge badge-primary">VerneMQ</span>
          <span class="badge badge-primary">Kafka</span>
          <span class="badge badge-primary">OpenAPI / Swagger</span>
          <span class="badge badge-primary">Nginx</span>
        </div>
      </div>

      <div class="row py-3">
        <div class="col-md-3">
          <p class="lead-2 text-right">Patterns</p>
        </div>
        <div class="col-md-9">
          <span class="badge badge-primary">CQRS</span>
          <span class="badge badge-primary">Event Sourcing</span>
          <span class="badge badge-primary">Micro Services</span>
          <span class="badge badge-primary">Test Driven Development</span>
        </div>
      </div>

      <div class="row py-3">
        <div class="col-md-3">
          <p class="lead-2 text-right">Tools</p>
        </div>
        <div class="col-md-9">
          <span class="badge badge-primary">Docker</span>
          <span class="badge badge-primary">Kubernetes</span>
          <span class="badge badge-primary">Mesos / Marathon</span>
          <span class="badge badge-primary">AWS</span>
          <span class="badge badge-primary">Google Cloud</span>
          <span class="badge badge-primary">Heroku</span>
          <span class="badge badge-primary">Digital Ocean</span>
          <span class="badge badge-primary">GitLab CI</span>
          <span class="badge badge-primary">Jenkins</span>
          <span class="badge badge-primary">Travis CI</span>
          <span class="badge badge-primary">Bash Scripting</span>
          <span class="badge badge-primary">Ansible / Puppet / Vagrant</span>
          <span class="badge badge-primary">Linux / Ubuntu</span>
          <span class="badge badge-primary">Scrum</span>
          <span class="badge badge-primary">Kanban</span>
        </div>
      </div>

      <div class="row py-3">
        <div class="col-md-3">
          <p class="lead-2 text-right">Software</p>
        </div>
        <div class="col-md-9">
          <span class="badge badge-primary">JIRA / Confluence</span>
          <span class="badge badge-primary">Magento</span>
          <span class="badge badge-primary">Shopware</span>
          <span class="badge badge-primary">Wordpress</span>
        </div>
      </div>

      <div class="row py-3">
        <div class="col-md-3">
          <p class="lead-2 text-right">Coaching</p>
        </div>
        <div class="col-md-9">
          <span class="badge badge-primary">Certified Scrum Master</span>
          <span class="badge badge-primary">Scrum</span>
          <span class="badge badge-primary">Kanban</span>
          <span class="badge badge-primary">Product Management</span>
        </div>
      </div>
    </div>
  </section>

  <!--
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  | Customers
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  !-->
  <section id="customers" class="section bg-gray">
    <div class="container">
      <header class="section-header">
        <h2 class="text-primary">Companies we worked with</h2>
        <hr>
      </header>

      <div class="row">
        <div class="col-12">
          <p class="lead testimonials text-center">
            <img src="/{{ index .Site.Data.assets "img/lp/agency/flexperto.svg" }}">
            <img src="/{{ index .Site.Data.assets "img/lp/agency/yeay.png" }}">
            <img src="/{{ index .Site.Data.assets "img/lp/agency/mdk.png" }}">
            <img src="/{{ index .Site.Data.assets "img/lp/agency/halvtone.svg" }}">
            <img src="/{{ index .Site.Data.assets "img/lp/agency/pamono.png" }}">
            <img src="/{{ index .Site.Data.assets "img/lp/agency/erento.svg" }}">
          </p>
        </div>
      </div>
    </div>
  </section>

  <!--
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  | Contact
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  !-->
  <section class="section" id="contact-us">
    <div class="container">
      <h2 class="text-center text-primary">Sounds interesting to you? We'd love to get in touch.</h2>
      <form class="row gap-y mt-8" netlify>
        <div class="col-lg-6">
          <div class="form-row">
            <div class="form-group col-md-6">
              <input class="form-control form-control-lg" type="text" name="name" placeholder="Name">
            </div>

            <div class="form-group col-md-6">
              <input class="form-control form-control-lg" type="email" name="email" placeholder="Email">
            </div>
          </div>

          <div class="form-group">
            <textarea class="form-control form-control-lg" rows="4" placeholder="How can we help?" name="message"></textarea>
          </div>

          <button class="btn btn-lg btn-primary" type="submit">Send message</button>
        </div>

        <div class="col-lg-5 ml-auto text-center text-lg-left">
          <hr class="d-lg-none">
          <h5>RealMQ GmbH</h5>
          <address>
            <i class="fas fa-globe"></i> Friedrichstraße 123, 10117 Berlin, Germany<br>
            <i class="fas fa-phone"></i> +49 (176) 7866 4791<br>
            <i class="fas fa-envelope"></i> <a href="mailto:service@realmq.com">service@realmq.com</a>
          </address>
        </div>
      </form>
    </div>
  </section>
</main>
{{- end -}}
