{{- define "header" -}}
<!-- Header -->
<header id="home" class="header h-fullscreen bg-primary bg-backdrop">
  <div class="container">
    <div class="row align-items-center h-100">
      <div class="col-md">
        <h1 class="display-4">
          <img class="logo" src="/{{ index .Site.Data.assets "img/logo.svg" }}" alt="RealMQ"><br>
          Open Source Real-time Messaging Platform
        </h1>
        <p class="lead mt-5">
          RealMQ is a highly scalable and easy-to-use real-time messaging platform. It comes with an
          MQTT message broker, a REST API and SDKs for several platforms. Sounds interesting? Then
          head on over to our <a href="/docs">documentation</a> or get in touch with us via
          <a href="#contact-us">email</a>.
        </p>
        <a class="btn btn-lg btn-round btn-primary w-200 my-7" href="#contact-us">Get in touch</a>
        <a class="btn btn-lg btn-round btn-outline-primary mr-2 w-300 my-7" href="https://github.com/realmq/realmq-platform">Star us on GitHub</a>
      </div>
    </div>
  </div>
</header><!-- /.header -->
{{- end -}}

{{- define "main" -}}
<!-- Main Content -->
<main class="main-content">

  <!--
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  | Core features
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  !-->
  <section id="section-features" class="section bg-gray">
    <div class="container">
      <header class="section-header">
        <h2 class="text-primary">What's in the box?</h2>
        <hr>
      </header>

      <div class="row gap-y text-center">

        <div class="col-md-6 feature-1">
          <p class="feature-icon text-primary"><i class="icon-envelope"></i></p>
          <h5>MQTT Broker</h5>
          <p>
            The MQTT Broker is the heart of the platform. It ensures delivery of all messages to the
            connected clients. It also makes sure that, based on your configuration, only authorized
            clients are allowed to send and receive messages.
          </p>
        </div>

        <div class="col-md-6 feature-1">
          <p class="feature-icon text-warning"><i class="icon-layers"></i></p>
          <h5>RESTful API</h5>
          <p>
            The API is used to administrate the platform configuration and all relevant entities.
            You can natively call the API or use it via one of our <a href="/docs">SDKs</a>.
          </p>
        </div>

        <div class="col-md-6 feature-1">
          <p class="feature-icon text-info"><i class="icon-tools-2"></i></p>
          <h5>Integration</h5>
          <p>
            RealMQ integrates seamlessly with any application stack. Use your own identifiers on
            entities if you like.
          </p>
        </div>

        <div class="col-md-6 feature-1">
          <p class="feature-icon text-danger"><i class="icon-profile-male"></i></p>
          <h5>Multi-Tenancy</h5>
          <p>
            RealMQ comes with multi-tenancy out of the box. This enables you to run several projects
            in parallel without them interfering each other.
          </p>
        </div>

        <div class="col-md-6 feature-1">
          <p class="feature-icon text-primary"><i class="icon-download"></i></p>
          <h5>Message Persistence</h5>
          <p>
            RealMQ allows you store messages for a configurable period of time or forever.
            Simply pull the message history from the server to retrieve everything that happened in
            the past.
          </p>
        </div>

        <div class="col-md-6 feature-1">
          <p class="feature-icon text-primary"><i class="icon-cloud"></i></p>
          <h5>Cloud or on-premise</h5>
          <p>
            Try out RealMQ and <a class="btn btn-round btn-sm btn-primary" href="https://cloud.realmq.com">
            Sign up for free</a> on our <a href="https://cloud.realmq.com">real-time cloud</a>.
            Or <a href="/#contact-us">get in touch</a> to discuss an on-premise deployment within your data center.
          </p>
        </div>

        <div class="col-md-6 feature-1">
          <p class="feature-icon text-hue-rotate"><i class="icon-heart"></i></p>
          <h5>Open Source</h5>
          <p>
            RealMQ is open source. If you want to help to improve, extend, and grow the platform
            you're more than welcome to join us over at
            <a href="https://github.com/realmq/realmq-platform"><i class="fab fa-github"></i> GitHub</a>.
            There's also a <a href="https://spectrum.chat/realmq">Spectrum Community</a>.
          </p>
        </div>

        <div class="col-md-6 feature-1">
          <p class="feature-icon text-info"><i class="icon-lightbulb"></i></p>
          <h5>Roadmap</h5>
          <p>
            We have a public <a href="https://github.com/realmq/realmq-platform#roadmap">road map</a>
            with features that we want to implement next. Although we have put a lot of thought into
            it, you can help us prioritize what comes next.
          </p>
        </div>
      </div>

    </div>
  </section>

  <!--
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  | Consulting
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  !-->
  <section id="section-consulting" class="section">
    <div class="container">
      <header class="section-header">
        <h2 class="text-primary">Need help realizing your project?</h2>
        <hr>
        <p>
          Introducing real-time messaging into an application will lift it to a whole new level but
          can sometimes seem to be quite complex and intimidating. But fear not - we're here to help.
          If you need any help or assistance in setting up your project or integrating RealMQ into your
          existing application, please <a href="#contact-us">contact us</a> and we will do our best
          to make it happen.
        </p>
      </header>
    </div>
  </section>

  <!--
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  | Contact
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  !-->
  <section class="section bg-gray" id="contact-us">
    <div class="container">
      <h2 class="text-center text-primary">Sounds interesting to you? We'd love to get in touch.</h2>
      <form class="row gap-y mt-8" netlify>
        <div class="col-lg-6">
          <div class="form-row">
            <div class="form-group col-md-6">
              <input class="form-control form-control-lg" type="text" name="name" placeholder="Name">
            </div>

            <div class="form-group col-md-6">
              <input class="form-control form-control-lg" type="email" name="email" placeholder="Email">
            </div>
          </div>

          <div class="form-group">
            <textarea class="form-control form-control-lg" rows="4" placeholder="Tell us what you need." name="message"></textarea>
          </div>

          <button class="btn btn-lg btn-primary" type="submit">Send message</button>
        </div>

        <div class="col-lg-5 ml-auto text-center text-lg-left">
          <hr class="d-lg-none">
          <h5>RealMQ GmbH</h5>
          <address>
            <i class="fas fa-globe"></i> Lindow 19, 15848 Friedland, Germany<br>
            <i class="fas fa-phone"></i> +49 (176) 7866 4791<br>
            <i class="fas fa-envelope"></i> <a href="mailto:service@realmq.com">service@realmq.com</a>
          </address>
        </div>
      </form>
    </div>
  </section>
</main>
{{- end -}}
