{{- define "header" -}}
<!-- Header -->
<header id="home" class="header h-fullscreen bg-primary bg-backdrop">
  <div class="container">
    <div class="row align-items-center h-100">
      <div class="col-md">
        <h1 class="display-4">
          <img class="logo" src="/{{ index .Site.Data.assets "img/logo.svg" }}" alt="RealMQ"><br>
          Open Source Real-time Messaging Platform
        </h1>
        <p class="lead mt-5">
          RealMQ is a highly scalable and easy-to-use real-time messaging platform. It comes with an
          MQTT message broker, a REST API and SDKs for several platforms. Sounds interesting? Then
          head on over to our <a href="/docs">documentation</a> or get in touch with us via
          <a href="#contact-us">email</a>.
        </p>
        <a class="btn btn-lg btn-round btn-primary w-200 my-7" href="#contact-us">Get in touch</a>
        <a class="btn btn-lg btn-round btn-outline-primary mr-2 w-300 my-7" href="https://github.com/realmq/realmq-platform">Star us on GitHub</a>
      </div>
    </div>
  </div>
</header><!-- /.header -->
{{- end -}}

{{- define "main" -}}
<!-- Main Content -->
<main class="main-content">

  <!--
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  | Core features
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  !-->
  <section id="section-features" class="section">
    <div class="container">
      <header class="section-header">
        <h2 class="text-primary">What's in the box?</h2>
        <hr>
      </header>

      <div class="row gap-y text-center">

        <div class="col-md-6 feature-1">
          <p class="feature-icon text-primary"><i class="icon-envelope"></i></p>
          <h5>MQTT Broker</h5>
          <p>
            The MQTT Broker is the heart of the platform. It ensures delivery of all messages to the
            connected clients. It also makes sure that, based on your configuration, only authorized
            clients are allowed to send and recveive messages.
          </p>
        </div>

        <div class="col-md-6 feature-1">
          <p class="feature-icon text-warning"><i class="icon-layers"></i></p>
          <h5>RESTful API</h5>
          <p>
            The API is used to administrate the platform configuration and all relevant entities.
            You can natively call the API or use it via one our <a href="/docs">SDKs</a>.
          </p>
        </div>

        <div class="col-md-6 feature-1">
          <p class="feature-icon text-info"><i class="icon-tools-2"></i></p>
          <h5>Integration</h5>
          <p>
            RealMQ integrates seamlessly with any application stack. Use your own identifiers on
            entities if you like.
          </p>
        </div>

        <div class="col-md-6 feature-1">
          <p class="feature-icon text-danger"><i class="icon-profile-male"></i></p>
          <h5>Multi-Tenancy</h5>
          <p>
            RealMQ comes with multi-tenancy out of the box. This enables you to run several projects
            in parallel without them interfering each other.
          </p>
        </div>

        <div class="col-md-6 feature-1">
          <p class="feature-icon text-primary"><i class="icon-download"></i></p>
          <h5>Message Persistence</h5>
          <p>
            RealMQ allows you store messages for a configurable amount of time or without limitations.
            Simply pull the message history from the server to retrieve everything that happened in
            the past.
          </p>
        </div>

        <div class="col-md-6 feature-1">
          <p class="feature-icon text-hue-rotate"><i class="icon-heart"></i></p>
          <h5>Open Source</h5>
          <p>
            RealMQ is open source. If you want to help to improve, extend, and grow the platform
            you're more than welcome to join us over at
            <a href="https://github.com/realmq/realmq-platform"><i class="fab fa-github"></i> GitHub</a>.
            There's also a <a href="https://spectrum.chat/realmq">Spectrum Community</a>.
          </p>
        </div>

        <div class="col-md-6 feature-1 offset-xl-3">
          <p class="feature-icon text-info"><i class="icon-lightbulb"></i></p>
          <p>
            We have a public <a href="https://github.com/realmq/realmq-platform#roadmap">road map</a>
            with features that we want to implement next. Although we have put a lot of thought into
            it, you can help us prioritize what comes next.
          </p>
        </div>
      </div>

    </div>
  </section>

  <!--
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  | Consulting
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  !-->
  <section id="section-consulting" class="section">
    <div class="container">
      <header class="section-header">
        <h2 class="text-primary">Need help realizing your project?</h2>
        <hr>
        <p>
          Introducing real-time messaging into an application will lift it to a whole new level but
          can sometimes seem to be quite complex and intimidating. But fear not - we're here to help.
          If you need any help or assistance in setting up your project or integrating RealMQ into your
          existing application, please <a href="#contact-us">contact us</a> and we will do our best
          to make it happen.
        </p>
      </header>
    </div>
  </section>


  <!--
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  | Use case scenarios
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  !-->
  <section id="section-use-cases" class="section bg-gray">
    <div class="container">
      <header class="section-header">
        <h2 class="text-primary">Common Use Cases</h2>
        <hr>
      </header>

      <div class="row">
        <div class="col-md-6">
          <p class="feature-icon-large text-center text-primary-light"><i class="fas fa-comments"></i></p>
        </div>
        <div class="col-md-6 text-justify">
          <h4>Chat</h4>
          <p>
            If asked for a use case for real-time messaging most people will answer: chat! Traditional
            chat systems are a natural fit for RealMQ. It just needs a thin business layer on top of
            RealMQ and some smart client side semantics. Luckily we provide some expressive recipes
            and reference implementations.
          </p>
          <dl>
            <dt>Instant Messaging</dt>
            <dd>
              Connect your users with direct chat and some social flavour to your application.
              Create classic instant messaging experiences we all know, like WhatsApp and co.
            </dd>

            <dt>Group Chat</dt>
            <dd>
              Build chat systems for organizations and communities and their internal peer groups.
            </dd>

            <dt>In Game Chat</dt>
            <dd>
              Let the users of your online games chat with each other in lobbies and running game sessions.
            </dd>

            <dt>Bots</dt>
            <dd>
              Automated chat systems help you to build a faster and more responsive communication with your users.
            </dd>
          </dl>
        </div>
      </div>

      <hr class="my-8">

      <div class="row gap-y align-items-center">
        <div class="col-md-6 text-justify">
          <h4>Complex Role Based Chat Systems</h4>
          <p>
            Sometimes classic chat tools aren’t enough. You may want to dispatch support requests,
            implement a multi stage flow with alternating chat partners, or build an interactive
            chat menu to route the chat to the right department. With RealMQ you can implement all
            of them - the limit is your imagination.
          </p>
          <dl>
            <dt>Routing</dt>
            <dd>
              Build interactive support systems where incoming requests are automatically dispatched
              to available members of your support team.
            </dd>

            <dt>Multi Channel</dt>
            <dl>
              Receive and send messages over a wide variety of channels like SMS, Email, or Twitter
            </dl>

            <dt>Complex Flows</dt>
            <dl>
              Project complex customer journeys onto something simple like a chat. Alternating chat
              partners guide the customer through relevant stages of a sales conversation.
            </dl>
          </dl>
        </div>

        <div class="col-md-6">
          <p class="feature-icon-large text-center text-primary-light"><i class="fas fa-users"></i></p>
        </div>
      </div>

      <hr class="my-8">

      <div class="row gap-y align-items-center">
        <div class="col-md-6">
          <p class="feature-icon-large text-center text-primary-light"><i class="fas fa-bolt"></i></p>
        </div>
        <div class="col-md-6 text-justify">
          <h4>Real-time Events</h4>
          <p>
            Today people are used to real time updates and immediate notifications on important
            events. They expect instant feedback on all their devices like mobile phone, laptop, or
            tablet when interacting with the digital world. Real-time events are the key.
          </p>

          <dl>
            <dt>Location Updates</dt>
            <dd>
              Keep clients updated on their delivery status and tell them the exact position of an
              ordered item.
            </dd>

            <dt>Real-time Databases</dt>
            <dd>
              Synchronize data accross multiple distributed devices.
            </dd>

            <dt>eCommerce</dt>
            <dd>
              Show visitors on your shop website real-time updates on prices, special offers, or other
              relevant information to turn them into happy customers.
            </dd>
          </dl>
        </div>
      </div>

      <hr class="my-8">

      <div class="row gap-y align-items-center">
        <div class="col-md-6 text-justify">
          <h4>Signaling / IoT</h4>
          <p>
            In a world where everything is connected, more and more devices are able to participate
            in the Internet of Things. RealMQ's slim and battle proven MQTT protocol ensures that
            your devices can talk to each other.
          </p>
          <dl>
            <dt>Home Automation</dt>
            <dd>
              Smart home devices talk to each other and synchronize data.
              E.g. ‘Turn down the heating when the temperature rises’.
            </dd>

            <dt>Smart Sensors</dt>
            <dd>
              Measure air quality or water levels and forward results to your central data collector.
            </dd>

            <dt>Predictive Maintenance</dt>
            <dd>
              Let your devices tell you when they are about to break.
            </dd>
          </dl>
        </div>

        <div class="col-md-6">
          <p class="feature-icon-large text-center text-primary-light"><i class="fas fa-wifi"></i></p>
        </div>
      </div>

    </div>
  </section>

  <!--
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  | Contact
  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
  !-->
  <section class="section bg-gray" id="contact-us">
    <div class="container">
      <h2 class="text-center text-primary">Sounds interesting to you? We'd love to get in touch.</h2>
      <form class="row gap-y mt-8" netlify>
        <div class="col-lg-6">
          <div class="form-row">
            <div class="form-group col-md-6">
              <input class="form-control form-control-lg" type="text" name="name" placeholder="Name">
            </div>

            <div class="form-group col-md-6">
              <input class="form-control form-control-lg" type="email" name="email" placeholder="Email">
            </div>
          </div>

          <div class="form-group">
            <textarea class="form-control form-control-lg" rows="4" placeholder="Tell us what you think." name="message"></textarea>
          </div>

          <button class="btn btn-lg btn-primary" type="submit">Send message</button>
        </div>

        <div class="col-lg-5 ml-auto text-center text-lg-left">
          <hr class="d-lg-none">
          <h5>RealMQ GmbH</h5>
          <address>
            <i class="fas fa-globe"></i> Friedrichstraße 123, 10117 Berlin, Germany<br>
            <i class="fas fa-phone"></i> +49 (176) 7866 4791<br>
            <i class="fas fa-envelope"></i> <a href="mailto:service@realmq.com">service@realmq.com</a>
          </address>
        </div>
      </form>
    </div>
  </section>
</main>
{{- end -}}
