<nav class="navbar navbar-expand-lg nav-transform-none bg-white navbar-{{if .theme}}{{.theme}}{{else}}dark{{end}}" {{ if .isNavFixed }}data-navbar="fixed"{{end}}>
  <div class="container">

    <div class="navbar-left">
      <button class="navbar-toggler" type="button">&#9776;</button>
      <a class="navbar-brand" href="/">
        <img class="logo" src="/{{ .logo }}" alt="RealMQ">
      </a>
    </div>

    <section class="navbar-mobile">
      <nav class="nav nav-navbar ml-auto">
        <a class="nav-link" href="/#section-features">Features</a>
        <a class="nav-link" href="/use-cases-of-real-time-messaging">Use Cases</a>
        <a class="nav-link" href="/#contact-us">Contact</a>
        <a class="nav-link" href="/docs">Docs</a>
        <a class="nav-link" href="https://github.com/realmq/realmq-platform">
          <i class="fab fa-github"></i>
          <span>GitHub</span>
        </a>
        <div class="nav-link">
          <a class="btn btn-round btn-primary" href="https://cloud.realmq.com">
          Sign up for free</a>
        </div>
      </nav>
    </section>
  </div>
</nav>
{{ partial "navbar/script.html" }}
