//----------------------------------------------------/
// RealMQ overrides
//----------------------------------------------------/
@import "docs";

.text-primary-light {
  color: lighten($color-primary, 40%);
}

.navbar {
  .navbar-brand {
    .logo {
      height: 32px;
      margin: 3px 3px 3px 0;
    }
  }
}

.header {
  h1 {
    .logo {
      height: 76px;
      margin: 12px 12px 12px 0;
    }
  }
}

.header.bg-backdrop {
  background-image: url(../img/backdrop.svg);
}

.feature-icon-large i {
  font-size: 27em;
}
