//----------------------------------------------------/
// RealMQ overrides
//----------------------------------------------------/
@import "docs";

.text-primary-light {
  color: lighten($color-primary, 40%);
}

.navbar {
  .navbar-brand {
    .logo {
      height: 32px;
      margin: 3px 3px 3px 0;
    }
  }
}

.header {
  h1 {
    .logo {
      height: 76px;
      margin: 12px 12px 12px 0;
    }
  }
}

.header.bg-backdrop {
  background-image: url(../img/backdrop.svg);
}


.header.bg-consultancy {
  //background-image: url(../img/lp/agency/coding.png);
  background-color: lighten($color-primary, 40%);
}

.skill-logo {
  display: inline-block;
  margin-right: 3em;
  text-align: center;
  i {
    display: inline-block;
    font-size: 72px;
  }
}

.testimonials img {
  max-height: 50px;
  margin: 1em;
}

.feature-icon-large i {
  font-size: 27em;
}

ul.has-bullets-primary {
  list-style: none;

  li::before {
    content: "\2022";
    color: $color-primary;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
}
