//----------------------------------------------------/
// RealMQ Variables
//----------------------------------------------------/
$fa-font-path: "../fonts";

//-----------------------------/
// The saas theme variables
//-----------------------------/
// colors
$color-primary: #3ac955;

// fonts
$font-family-base:                "Open Sans", sans-serif;
$font-family-title:               Dosis, sans-serif;

$font-size-base:                  0.9375rem;

$font-weight-base:                300;
$line-height-base:                1.9;

$h1-font-size:                    $font-size-base * 2.75;
$h2-font-size:                    $font-size-base * 2.25;
$h3-font-size:                    $font-size-base * 1.875;
$h4-font-size:                    $font-size-base * 1.625;
$h5-font-size:                    $font-size-base * 1.3125;
$h6-font-size:                    $font-size-base * 1.125;

$h1-font-weight:                  400;
$h2-font-weight:                  400;
$h3-font-weight:                  400;
$h4-font-weight:                  400;
$h5-font-weight:                  400;
$h6-font-weight:                  400;

$display1-size:                   5rem;
$display2-size:                   4rem;
$display3-size:                   3.5rem;
$display4-size:                   3rem;

$display1-weight:                 200;
$display2-weight:                 200;
$display3-weight:                 200;
$display4-weight:                 200;

// navbar
$navbar-dark-color-hover: $color-primary;
$navbar-min-height:               56px;
$navbar-offset-top:               0;

// The list of all the available variables can be found in `/plugin/thesaas/scss/_variables.scss`
